body{
    background-color: blue;
}
.n1{
    margin: 20px 160 ;
}
.n2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.emely{
    text-align: justify;
    box-shadow: 155px black;
}
.n3{
    text-decoration: none;
    color: brown;
    
}

